# Base API endpoint for the front-end (usually /api)
VITE_API_URL=/

# Administrator Credentials
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin

# Serverless Database configuration (Optional: Custom JSON data structure to override default state)
DATABASE_JSON=

# Supabase Storage configuration (Optional: Connect Supabase for remote backend data storage)
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
